{% load fontawesome %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'product_list' %}">E-Store</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'product_list' %}#">Products<span class="sr-only">(current)</span></a></li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- <a href="#">購物車 {% fontawesome_icon 'shopping-cart' %} ({{ request.cart.items.count }})</a> -->
                    <a href="{% url 'cart_detail' %}">購物車 {% fontawesome_icon 'shopping-cart' %} ({{ request.cart.items.count }})</a>
                </li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'sign_up' %}">註冊</a></li>
                    <li><a href="{% url 'login' %}">登入</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Hi, {{ request.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if perms.estore.change_product %}
                                <li><a href="{% url 'dashboard_product_list' %}">主控台</a></li>
                            {% endif %}
                            <li><a href="{% url 'order_list' %}">個人訂單列表</a></li>
                            <li><a href="{% url 'logout' %}">登出</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>